.background{
    background: url("./imgs/background.jpg");
    background-size:contain;
    width: 1020px;
    height: 730px;
}

.enemy1{
    background: url("./imgs/armored_skeleton_slash.gif") 0px -390px;
    width: 65px; 
    height: 65px;
    position: absolute;
    top: 210px;
    left: 250px;

}

.person{
    background: url("./imgs/wizard.png");
    width: 60px; 
    height: 90px;
    animation: anima-person 2s steps(4) infinite;
    position: absolute;
    top: 470px;
    left: 110px;
}

@keyframes anima-person{
    0%{background-position: 0px; }
    10%{background-position: -6000px; 
    left: 130px;}
    30%{background-position: -8000px; 
        left: 150px;}
    100%{ background-position: -90000px;
        left: 270px; }
    
}