*{
    text-decoration: none;
}

@font-face {
    font-family: cyborg punk;
    src: url(./fonts/Cyborg\ Punk.ttf);
}
:root{
    --loadText: #FBDF08 ;
    --fonteEspecial: cyborg punk;
    --corVidro: #00000050;
    --corTitulo:#a61212;
    --fonte:"arial";
    --corTexto:#f0f8ff;
}

@media only screen and (min-width: 1000px){
    #load{
        display: flex;
        flex-direction: column;
        color: var(--loadText);
        font-family: var(--fonteEspecial);
        text-align: center;
        background-image: url(./imgs/backgroundIntro.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: initial;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        justify-content: center;
        z-index: 5;
    }

body {
    display: flex;
    flex-direction: column;
    background-image: url(./imgs/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-clip: initial;
    overflow: initial;

}

header .section-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

header .title {
    color: var(--corTitulo);
    font-size: 3em;
    font-family: var(--fonteEspecial);
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--corVidro);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    max-width: 100%;
    border-radius: 1em;
    align-items: center;
    justify-content: space-evenly;
}

.nav h1 {
    padding: 0.8em;
    font-family: var(--fonteEspecial);
    color: var(--corTexto);
    font-size: clamp(0.2em, 0.8em + 1vw, 1em);
    transition: 350ms;

}

.nav h1:hover{
    font-family: var(--fonteEspecial);
    color: var(--corTitulo);
    font-size: clamp(0.4em, 1em + 1vw, 1.2em);
    transition: 350ms;
}

.section-header {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: center;
    
}

.section-header img {
    max-width: 100%;
    height: auto;
    border-radius: 1em;
    
}

.section-header-text img {
    align-self: center;
    max-width: 100%;
    height: auto;
    border-radius: 1em;
}

.section-header-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--corVidro);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    align-items: center;
}

.text p {
    text-align: justify;
    padding: 1em;
    justify-content: center;
    font-family:var(--fonte);
    color: var(--corTexto);
    line-height: 1.5;
    
}

.text h1{
    font-family:var(--fonte);
    font-size: clamp(1.5em, 2em + 1vw, 2.5em);
    color: var(--corTexto);
    text-align: justify;
    padding-left: 1em;
    justify-content: center;

}

.imgs {
    display: flex;
    flex-direction: row;
    border-radius: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.imgs img {
    max-width: 30%;
    transition: 350ms;

}

.imgs img:hover {
    max-width: 32%;
    transition: 350ms;

}

.img-circle {
    border-radius: 22em;
    padding: 1em;
}

.article {
    text-align: justify;
    justify-content: center;
    padding: 1em;
    margin: 1em;
    color: var(--corTexto);
    background-color: var(--corVidro);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 1em;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    background-color: var(--corVidro);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}

.logo {
    width: 25px;
    transition: 350ms;
    
}

.logo:hover {
    width: 35px;
    transition: 350ms;
}

p {
    font-family: var(--fonte);
    font-size: clamp(0.8em, 1em + 1vw, 1.5em);
    color: var(--corTexto);
    line-height: 1.5;
}

}

@media only screen and (max-width: 1000px){
   
    #load{
        color: var(--loadText);
        font-family: var(--fonteEspecial);
        text-align: center;
        background-image: url(./imgs/backgroundIntro.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: initial;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 5;

    }

    body {
        display: flex;
        flex-direction: column;
        background-image: url(./imgs/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        background-clip: initial;
    }
    
    header .section-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    header .title {
        color: #a61212;
        font-size: 3em;
        font-family: var(--fonteEspecial);
    }
    
    hr {
        background-color: black;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: var(--corVidro);
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);
        max-width: 100%;
        border-radius: 1em;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .nav h1 {
        padding: 0.8em;
        font-family: var(--fonteEspecial);
        color: var(--corTexto);
        font-size: clamp(0.2em, 0.8em + 1vw, 1em);
        transition: 350ms;
    
    }
    
    .section-header {
        display: flex;
        flex-direction: row;
        padding: 1em;
        justify-content: center;
        
    }
    
    .section-header img {
        max-width: 100%;
        height: auto;
        border-radius: 1em;
        
    }
    
    .section-header-text img {
        align-self: center;
        max-width: 100%;
        height: auto;
        border-radius: 1em;
    }
    
    .section-header-text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--corVidro);
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);
        align-items: center;
    }
    
    .text p {
        text-align: justify;
        padding: 1em;
        justify-content: center;
        font-family: var(--fonte);
        color: var(--corTexto);
        line-height: 1.5;
    }
    
    .text h1{
        font-family:var(--fonte);
        font-size: clamp(1.5em, 2em + 1vw, 2.5em);
        color: var(--corTexto);
        text-align: justify;
        align-items: center;
        padding: 0.5em;
        justify-content: center;
    }
    
    .imgs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .imgs img {
        max-width: 75%;    
    }

    .img-circle {
        border-radius: 22em;
        padding: 1em;
    }

    .article {
        text-align: justify;
        justify-content: center;
        padding: 1em;
        margin: 1em;
        color: var(--corTexto);
        background-color: var(--corVidro);
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);
        border-radius: 1em;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1em;
        background-color: var(--corVidro);
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);
    }
    
    .logo {
        width: 25px;        
    }

    p {
        font-family:var(--fonte);
        font-size: clamp(0.8em, 1em + 1vw, 1.5em);
        color: var(--corTexto);
        line-height: 1.5;
    }
}